<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Email" value="leandro91luis@gmail.com" />
    <add key="Senha" value="Gasparzinho2020" />
    
    <add key="numeroPrincipalR" value="0" />
    <add key="numeroPrincipalG" value="0" />
    <add key="numeroPrincipalB" value="0" />
    <add key="numeroPessoaR" value="0" />
    <add key="numeroPessoaG" value="0" />
    <add key="numeroPessoaB" value="0" />
    <add key="numeroFinanceiroR" value="0" />
    <add key="numeroFinanceiroG" value="0" />
    <add key="numeroFinanceiroB" value="0" />
    <add key="numeroEmailR" value="0" />
    <add key="numeroEmailG" value="0" />
    <add key="numeroEmailB" value="0" />
    <add key="numeroEsbocoR" value="0" />
    <add key="numeroEsbocoG" value="0" />
    <add key="numeroEsbocoB" value="0" />   
  </appSettings>
  
    <connectionStrings>
        <add name="Igreja" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Igreja;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>